<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet/less" type="text/css" href="style.less">
  <title>Finde den perfekten Babynamen</title>
</head>
<body>
  <div class="header">Finde den perfekten Babynamen</div>
  <div class="background-box"></div>
  <div class="container">
    <div class="box">
      <h2>Nach Geschlecht suchen</h2>
      <div class="sub-box" onclick="filterByGender('all')">all</div>
      <div class="sub-box" onclick="filterByGender('m')">männlich</div>
      <div class="sub-box" onclick="filterByGender('w')">weiblich</div>
    </div>
    <div class="box">
      <h2>Nach Präfix suchen</h2>
      <div class="search-box">
        <input type="text" placeholder="Präfix eingeben...">
      </div>
    </div>
    <div class="box">
      <h2>Nach Suffix suchen</h2>
      <div class="search-box">
        <input type="text" placeholder="Suffix eingeben...">
      </div>
    </div>
    <div class="box">
      <h2>Nach Silbenanzahl suchen</h2>
      <div class="sub-box">1</div>
      <div class="sub-box">2</div>
      <div class="sub-box">3</div>
      <div class="sub-box">4</div>
    </div>
  </div>
  <br>
  <div class="result-box">
    <h2>Resultat</h2><table>
      <tr>
        <th>vorname</th>
        <th>geschlecht</th>
      </tr>
      <% profile.forEach(function(data){ %>
        <tr>
          <td><%= data.vorname %></td>
          <td><%= data.geschlecht %></td>
        </tr>
      <% }); %>
    </table>
  
    <ul class="pagination">
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li><a href="#" class="<%= currentPage === i ? 'active' : '' %>" onclick="changePage(<%= i %>)"><%= i %></a></li>
      <% } %>
    </ul>
  </div>
  <script>
    function changePage(page) {
      window.location.href = `?page=` + page;
  }
  </script>
</body>
</html>
